@page
@model FizzBuzzWebRokPrzestepny.Pages.SavedInSessionModel
@{
    ViewData["Title"] = "Data in session";

}

<div>
   <ul>
      @foreach(var obiekt in Model.FizzBuzzSession.SessionList)
      {
        <li>@obiekt.Imie, @obiekt.Rok - @obiekt.czy_przestepny</li> 
      }    
   </ul>
</div>
